{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "experimentalDecorators": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "extends": [
    "standard",
    "standard-jsx",
    "prettier",
    "prettier/react"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "react/prop-types": 0,
    "max-len": [
      "error",
      {
        "code": 120,
        "tabWidth": 2,
        "ignoreUrls": true
      }
    ],
    "comma-dangle": ["error", "never"],
    "function-paren-newline": ["error", "never"],
    "indent": [2, 2, {"SwitchCase": 1}],
    "quotes": ["error", "single"],
    "semi": ["error", "never"],
    "standard/no-callback-literal": "off"
  }
}
