{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 9,
    "ecmaFeatures": {
      "experimentalDecorators": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "extends": ["standard", "standard-jsx", "prettier", "prettier/react"],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "react/prop-types": 0,
    "max-len": [
      "error",
      {
        "code": 95,
        "tabWidth": 2,
        "ignoreUrls": true
      }
    ],
    "comma-dangle": ["error", "never"],
    "indent": [2, 2, { "SwitchCase": 1 }],
    "function-paren-newline": ["error", "consistent"],
    "quotes": ["error", "single"],
    "semi": ["error", "never"],
    "standard/no-callback-literal": "off",
    "jsx-quotes": ["error", "prefer-single"],
    "space-before-function-paren": [
      "error",
      { "anonymous": "ignore", "named": "never", "asyncArrow": "always" }
    ]
  }
}
