body{
  background-color: #000000;
}

.ag-ltr div.agaction.ag-cell{
  margin: 0!important;
  padding: 3px!important;
}

.newDesign.ag-cell, .editCell.ag-cell{
  padding: 9px 4px !important;
}

.ag-theme-balham .ag-header{
  background-color: #fafafa;
  border-bottom: 2px solid #F4F5F7;
}

.ag-theme-balham .ag-header-cell {
  line-height: normal;
}

.ag-theme-balham .ag-floating-filter-button {
  margin-top: 2px;
  line-height: normal;
}

.ag-theme-balham .ag-header-cell::after, .ag-theme-balham .ag-header-group-cell::after{
  display: none;
}

.ag-theme-balham .ag-header-cell-resize::after{
  border: none;
}

.ag-theme-balham .newDesign.ag-header-cell, .ag-theme-balham .newDesign.ag-header-group-cell{
  line-height: 33px;
}

.ag-theme-balham .ag-column-drop-horizontal{
  height: 40px;
  background-color: white;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid #efefef !important;
}

.ag-theme-balham .ag-column-drop-horizontal .ag-column-drop-empty-message{
  line-height: 40px;
}

.ag-theme-balham .newDesign.ag-cell.ag-cell-inline-editing{
  height: 38px;
  padding: 4px !important;
}

.ag-cell.error-cell{
  background-color: lightcoral
}

.ag-theme-balham .ag-paging-panel{
  border-right: 1px solid rgb(209, 209, 209);
  background: rgb(223, 233, 226);
}

.ag-icon.ag-uncheckbox{
  color: rgb(104, 129, 143);
  height:16px;
  width:16px;
  font-size: 16px;
  position: relative;
  top: 3px;
}

.container-main{
  padding: 20px;
  padding-bottom: 0;
  background-color: #EEEEEF;
}

.container-main .top-breadcrumb{
  margin-bottom: 15px;
  height: 35px;
  font-size: 16px;
  padding: 7px 0px;
  font-size: 20px;
  font-weight: 580;
  color: #243e4a;
  padding-left: 15px;
}

.smooth-view{
  transition-duration: .2s, .2s, .35s;
  transition-property: top, bottom, width;
  transition-timing-function: linear, linear, ease;
}

.editCell .ag-cell-wrapper{
  padding: 0 15px 5px 0;
  border-bottom: 1px solid #6b9b79;
}

.ag-floating-filter-input::-webkit-input-placeholder::before{
  content: "///"
}

.ag-theme-balham .ag-header-cell-label {
  font-size: 12px;
}

.ag-theme-balham {
  padding: 0 15px;
}

.ag-theme-balham .ag-cell {
  font-size: 13px;
  line-height: 22px;
  padding: 9px !important;
}

.ag-theme-balham .ag-cell-inline-editing {
  height: 38px;
  padding: 4px !important;
}

.ag-theme-balham .ag-paging-panel {
  background-color: #fff !important;
  border: none !important;
  font-size: 12px;
}

.ag-theme-balham .ag-root{
  border: none !important;
}

.ag-theme-balham .ag-header-row {
  border-bottom: none;
}

.ag-theme-balham .ag-floating-bottom {
  border-top: 2px solid #F4F5F7 !important
}

.ag-theme-balham .ag-row {
  border: 0;
}
/*
.ag-theme-balham .ag-row-even {
  background-color: #fff;
}

.ag-theme-balham .ag-row-odd {
  background-color: #fff;
} */

.ag-theme-balham [ref="north"] .ag-column-drop {
  border-bottom: 2px solid #F4F5F7 !important
}

.ag-theme-balham .ag-header-cell-label .ag-header-cell-text {
  color: #141414;
  font-weight: 700;
  text-transform: uppercase;
}

.ag-theme-balham .ag-cell-focus:not(.agaction) {
  border: 1px solid #0091EA !important;
  outline: initial;
}

.ag-overlay-panel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ag-header-group-cell {
  text-align: center;
}
