.login-card {
  &__wrapper {
    height: calc(100vh - 62px);
    display: flex;
    align-items: center;
    justify-content: center;

    .ant-card {
      margin-top: -200px;
      width: 480px;
    }
  }
}

.sign-up-card {
  &__wrapper {
    height: calc(100vh - 62px);
    display: flex;
    align-items: center;
    justify-content: center;

    .ant-card {
      margin-top: -100px;
      width: 680px;
    }
  }
}